<div class="container-fluid my-4">
    <div class="row">
        <div class="col-7">
            <div class="card">
                <div class="card-header bg-danger">
                    <div class="row">
                        <div class="col-6 text-white">
                            <strong>Donator List</strong>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-light text-black">Add New</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Birth Date</th>
                                <!-- <th>Weight</th>
                                <th>Height</th> -->
                                <th>Type</th>
                                <th>Genre</th>
                                <!-- <th>RH</th> -->
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of donatorList; track $index) {
                            <tr>
                                <td>{{ $index+1}}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.email }}</td>
                                <td>{{ item.birthDate }}</td>
                                <!-- <td>{{ item.weight }}</td>
                                    <td>{{ item.height }}</td> -->
                                <td>{{ item.bloodType }}</td>
                                <td>{{ item.genre }}</td>
                                <!-- <td>{{ item.rhFactor }}</td> -->
                                <td>
                                    <button type="button" class="btn btn-warning btn-sm" title="Edit"><i
                                            class="fa fa-edit" (click)="onEdit(item)"></i></button>
                                    <button type="button" class="btn btn-danger btn-sm" title="Delete"
                                        (click)="onDelete(item.id)"><i class="fa fa-remove"></i></button>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card">
                <div class="card-header bg-danger">
                    <div class="row">
                        <div class="col-6 text-white">
                            <strong>New Donator</strong>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-warning">Close</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form class="mb-4">
                        <div class="row">
                            <div class="col-md-12">
                                <label for="employeeName" class="form-label">Name</label>
                                <input name="employeeName" [(ngModel)]="donatorObj.name" class="form-control"
                                    id="employeeName" placeholder="Enter employee name">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" [(ngModel)]="donatorObj.email" class="form-control"
                                    id="email" placeholder="Enter email">
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="genre" class="form-label">Genre</label>
                                <select id="genre" class="form-select">
                                    <option selected>Select genre</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="birthDate" class="form-label">Birth Date</label>
                                <input type="date" name="birthDate" [(ngModel)]="donatorObj.birthDate"
                                    class="form-control" id="birthDate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <label for="weight" class="form-label">Weight</label>
                                <input type="number" name="weight" [(ngModel)]="donatorObj.weight" class="form-control"
                                    id="weight" placeholder="Enter Weight">
                            </div>
                            <div class="col-md-2">
                                <label for="height" class="form-label">Height</label>
                                <input type="number" name="height" [(ngModel)]="donatorObj.height" class="form-control"
                                    id="height" placeholder="Enter height">
                            </div>
                            <div class="col-md-4">
                                <label for="bloodType" class="form-label">Type</label>
                                <select id="bloodType" [(ngModel)]="donatorObj.bloodType" name="bloodType"
                                    class="form-select">
                                    <option selected>Select type</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="AB">AB</option>
                                    <option value="O">O</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="rhFactor" class="form-label">RH</label>
                                <select id="rhFactor" [(ngModel)]="donatorObj.rhFactor" name="rhFactor"
                                    class="form-select">
                                    <option selected>Select RH</option>
                                    <option value="Positive">Positive</option>
                                    <option value="Negative">Negative</option>
                                </select>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <label for="city" class="form-label">City</label>
                                <input name="address.city" [(ngModel)]="donatorObj.address.city" class="form-control"
                                    id="city">
                            </div>
                            <div class="col-md-6">
                                <label for="state" class="form-label">State</label>
                                <input name="address.state" [(ngModel)]="donatorObj.address.state" class="form-control"
                                    id="state">
                            </div>
                            <div class="col-md-8">
                                <label for="street" class="form-label">Street</label>
                                <input name="address.street" [(ngModel)]="donatorObj.address.street"
                                    class="form-control" id="street">
                            </div>
                            <div class="col-md-4">
                                <label for="postalCode" class="form-label">Postal code</label>
                                <input name="address.postalCode" [(ngModel)]="donatorObj.address.postalCode"
                                    class="form-control" id="postalCode">
                            </div>
                        </div>
                        @if (donatorObj.id == "") {
                        <button type="button" (click)="onSaveDonator()" class="btn btn-success mt-3">Save</button>
                        } 
                        @else {
                        <button type="button" (click)="onUpdateDonator()" class="btn btn-success mt-3">Update</button>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>




</div>